
@inject IThemeContext themeContext
@using Nop.Web.Framework.Themes
@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Resources");
}
@{ var themeName = themeContext.WorkingThemeName; }



<style>

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }

    .card-text {
        height: 80px;
    }

    .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
    }


    .border-primary {
        height: 10rem;
        background-color: #1899E1;
        font: normal normal 420 23px/28px "Teko";
        color: #FFFFFF !important;
    }
</style>


<div id="resource" class="page home-page">
    <div class="page-body">
        <div class="page-title">
            <h1>RESOURCE LIBRARY</h1>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                @foreach (var urlRecord in ViewBag.UrlRecords)
                {
                    @if (urlRecord.Title.ToUpper() == "NOTIFICATIONS" && !urlRecord.IsBuyer && !urlRecord.IsOperations)
                    {

                    }
                    else
                    {

                        <div class="col-md-3 col-sm-6 item">
                            <a href="@urlRecord.Slug" class="text-decoration-none">
                                <div class="card border-primary mb-3">
                                    <div class="card-body d-flex flex-column justify-content-center text-center">
                                        <span class="overflow-hidden">@urlRecord.Title.ToUpper()</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
