@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        @*<h1>@T("Account.PasswordRecovery")</h1>*@
        <h1>RECOVER PASSWORD</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset password-fieldset">
                <p class="text" style="line-height: 1.1; margin-bottom: 3px !important;">
                    Please enter your email address below.
                </p>
                <p class="text" style="line-height: 1.1; margin-bottom: 30px !important;"> You will receive a link to
                    reset
                    your password.
                </p>
                <div class="form-fields" style="margin:40px 0 !important">
                    <div>
                        <label asp-for="Email"> Work Email</label>
                        <nop-required />
                        <input asp-for="Email" class="email form-control custom-input" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
                <div class="buttons">
                    @*<input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />*@
                    <input type="submit" name="send-email" class="button-1 password-recovery-button" value="Recover Password" />
                </div>
            </div>
        </form>
    </div>
</div>