@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyInvoiceListModel
@using Syncfusion.EJ2

<div>
    <ejs-grid id="Grid" dataSource="@Model.Invoices" allowPaging="true" allowFiltering="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="10" pageSizes="true"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column template="#invoiceNo" headerText="Invoice #" minWidth="80" width="100" maxWidth="120" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#orderNo" headerText="Order #" minWidth="80" width="90" maxWidth="100" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PoNo" headerText="Purchase Order #" minWidth="130" width="140" maxWidth="150" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#invoiceAmount" headerText="Invoice Amount" minWidth="130" width="140" maxWidth="150" allowFiltering="false"></e-grid-column>
            <e-grid-column field="InvoiceDate" headerText="Invoice Date" minWidth="110" width="120" maxWidth="130" format="yMd" allowFiltering="false"></e-grid-column>
            @if (Model.IsClosed)
            {
                <e-grid-column field="InvoicePaidDate" headerText="Paid Date" minWidth="80" width="100" maxWidth="120" format="yMd" allowFiltering="false"></e-grid-column>
            }
            else
            {
                <e-grid-column field="InvoiceDueDate" headerText="Due Date" minWidth="80" width="100" maxWidth="120" format="yMd" allowFiltering="false"></e-grid-column>
                <e-grid-column field="InvoiceStatusName" headerText="Status" filter="@(new { type = "CheckBox" })" minWidth="80" width="100" maxWidth="120"></e-grid-column>
            }
            <e-grid-column type="checkbox" width="30"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="invoiceNo" type="text/x-template">
    <a href="/invoices/${Id}">${Id}</a>
</script>
<script id="orderNo" type="text/x-template">
    <a href="/orders/${Id}">${Id}</a>
</script>
<script id="invoiceAmount" type="text/x-template">
    $${InvoiceAmount}
</script>
<ejs-scripts></ejs-scripts>