@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyInvoiceListModel
@using Syncfusion.EJ2

<div>
    <ejs-grid id="Grid" dataSource="@Model.Invoices" allowPaging="true" allowFiltering="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="10" pageSizes="true"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column template="#invoiceNo" headerText="Invoice #" width="60" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#orderNo" headerText="Order #" width="60" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PoNo" headerText="Purchase Order #" width="80" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#invoiceAmount" headerText="Invoice Amount" width="80" allowFiltering="false"></e-grid-column>
            <e-grid-column field="InvoiceDate" headerText="Invoice Date" width="90" format="yMd" allowFiltering="false"></e-grid-column>
            <e-grid-column field="InvoiceDueDate" headerText="Due Date" width="90" format="yMd" allowFiltering="false"></e-grid-column>
            @if (Model.IsClosed)
            {
                <e-grid-column field="InvoicePaidDate" headerText="Paid Date" width="90" format="yMd" allowFiltering="false"></e-grid-column>
            }
            else
            {
                <e-grid-column field="InvoiceStatusName" headerText="Status" filter="@(new { type = "CheckBox" })" width="70"></e-grid-column>
            }
            <e-grid-column type="checkbox" width="30"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="invoiceNo" type="text/x-template">
    <a href="/invoices/${Id}">${Id}</a>
</script>
<script id="orderNo" type="text/x-template">
    <a href="/orders/${Id}">${Id}</a>
</script>
<script id="invoiceAmount" type="text/x-template">
    <label>$${InvoiceAmount}</label>
</script>
<ejs-scripts></ejs-scripts>