@inject IThemeContext themeContext
@using Nop.Web.Framework.Themes
@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyInvoiceListModel
@{
    Layout = "_ColumnsOne";
}
@{ var themeName = themeContext.WorkingThemeName; }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha512-rxThY3LYIfYsVCWPCW9dB0k+e3RZB39f23ylUYTEuZMDrN/vRqLdaCBo/FbvVT6uC2r0ObfPzotsfKF9Qc5W5g==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
<div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
</div>
<div id="invoices" class="page orders-page">
    <div class=page-body>
        <div class="bg-white-shadow d-flex flex-row flex-wrap align-items-center mb-3 p-4">
            <label class="h2-primary my-4">CREDIT SUMMARY</label>

            <div class="d-flex flex-row flex-wrap flex-fill justify-content-around invoice-summary-content">
                <div class="d-flex flex-column mx-3 my-1">
                    <label class="fs12-default mb-2">Credit Limit</label>
                    <label class="h5-default mb-0 ml-2">$10,000</label>
                </div>
                <div class="d-flex flex-column mx-3 my-1">
                    <label class="fs12-default mb-2">Total Open Invoices</label>
                    <label class="h5-default mb-0 ml-2">$3,024.50</label>
                </div>
                <div class="d-flex flex-column mx-3 my-1">
                    <label class="fs12-default mb-2">Total Past Due</label>
                    <label class="h5-danger mb-0 ml-2">$1,334.87</label>
                </div>
                <div class="d-flex flex-column mx-3 my-1">
                    <label class="fs12-default mb-2">Open Credit</label>
                    <label class="h5-default mb-0 ml-2">$2,000.00</label>
                </div>
            </div>

        </div>

        <div class="orders-search-block bg-white-shadow" id=ordersTableBlock role="tabpanel" aria-labelledby="ordersTableBlock">
            <div>
                <div class="orders-title">SEARCH INVOICES</div>
                <div class="orders-export cursor-pointer" v-on:click="isSearchExpanded = !isSearchExpanded;">
                    <img class="collapse-icon" v-bind:class="{'down': isSearchExpanded}" id="collapseIcon"
                         src="~/Themes/@(themeName)/Content/assets/icn-expand.svg" alt="" />
                </div>
            </div>

            <div v-show="isSearchExpanded" class="row m-0 py-0 px-2">
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex flex-column my-3 py-0">
                    <label for=orderFromDate>Invoice Dates</label>
                    <div class="input-with-icon">
                        @*<input class=nss-form-control type="text" v-model="fromDate" id="datepicker" autocomplete="off" placeholder="From">*@
                        <input style="height: 36px; border-radius: 0;" v-model="fromDate" class="datepicker nss-form-control" data-date-format="mm/dd/yyyy" placeholder="From" maxlength="10" onpaste="return false;">
                        <img src="~/Themes/@(themeName)/Content/assets/icn-cal-range.svg" alt="">
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6d-flex flex-column my-3 py-0">
                    <label for=orderToDate> &nbsp;</label>
                    <div class="input-with-icon">
                        @*<input class=nss-form-control type="text" v-model="toDate" id="datepicker2" autocomplete="off" placeholder="To">*@
                        <input style="height: 36px; border-radius: 0;" v-model="toDate" class="datepicker nss-form-control" data-date-format="mm/dd/yyyy" placeholder="To" maxlength="10" onpaste="return false;">
                        <img src="~/Themes/@(themeName)/Content/assets/icn-cal-range.svg" alt="">
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex flex-column my-3 py-0">
                    <label for=purchaseOrder>Invoice #</label>
                    <input class="nss-form-control" type="text" v-model="invoiceId" placeholder="Enter...">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex flex-column my-3 py-0">
                    <label for=purchaseOrder>Order #</label>
                    <input class=nss-form-control type="text" v-model="orderId" placeholder="Enter...">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex flex-column my-3 py-0">
                    <label for=purchaseOrder>Purchase Order #</label>
                    <input class=nss-form-control type="text" v-model="poNo" placeholder="Enter...">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex flex-row-reverse align-items-end pl-lg-5 my-3 py-0">
                    <button class="nss-btn-default ml-lg-5 w-100 text-center" style=" padding: 10px 16px;" v-on:click="searchInvoices">Search</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div>
                <ul class="nav nav-pills mb-1" id=pills-tab role="tablist">
                    <li class=nav-item role="presentation" style=margin-right:.3em>
                        <a class="nav-link active" id=pills-home-tab data-toggle=pill
                           href=#pills-home role=tab aria-controls=pills-home
                           aria-selected=true v-on:click="isClosed = false; searchInvoices();">Open Invoices</a>
                    <li class=nav-item role="presentation">
                        <a class=nav-link id=pills-profile-tab
                           data-toggle=pill href=#pills-profile role=tab
                           aria-controls=pills-profile aria-selected=false v-on:click="isClosed = true; searchInvoices();">Closed Invoices</a>
                </ul>
            </div>
            <label class="h4-primary"><img src="~/Themes/@(themeName)/Content/assets/icn-download.svg" alt="">Export</label>
        </div>
        <div class="d-flex flex-column p-4 bg-white-shadow">

            <div id="invoice-grid"></div>
        </div>
    </div>
</div>
@functions{

}

<script>
    var vm = new Vue({
        el: '#invoices',
        data: {
            isLoading: false,
            isSearchExpanded: true,
            isClosed: false,
            fromDate: null,
            toDate: null,
            invoiceId: null,
            orderId: null,
            poNo: null,
        },
        mounted: function () {
            this.searchInvoices();
        },
        methods: {
            showLoading: function () {
            },
            hideLoading: function () {
            },
            searchInvoices: function () {
                const request = {
                    invoiceId: this.invoiceId,
                    orderId: this.orderId,
                    fromDate: this.fromDate,
                    toDate: this.toDate,
                    pONo: this.poNo,
                    isClosed: this.isClosed,
                };
                this.showLoading();
                $("#overlay").css("display", "flex");
                const self = this;
                $.ajax({
                    url: "@Url.Action("SearchCompanyInvoices", "Invoice")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(request),
                    success: function (data) {
                        self.hideLoading();
                        $("#overlay").css("display", "none");
                        $('#invoice-grid').html(data);
                    },
                    error: function (xhr, thrownError) {
                        self.hideLoading();
                        $("#overlay").css("display", "none");
                        console.log(thrownError, 'datadata-error', xhr);
                        $('#invoice-grid').html('an error has occured here');
                    }
                });
            }
        },
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script>

    $.fn.datepicker.defaults.format = "mm/dd/yyyy";
    $('.datepicker').datepicker({
        endDate: '0'
    });
    $(document).ready(function () {
        $('.datepicker').keypress(function (e) {
            if (((e.keyCode >= 48 && e.keyCode <= 57 || e.keyCode == 47) && (!e.shiftKey && !e.altKey && !e.ctrlKey))) {
                if (e.keyCode != 8) {
                    var text = this.value;
                    if ((text.length < 2 || text.length > 5 || (text.length > 2 || text.length < 5)) && e.keyCode == 47) {
                        return false;
                    }
                    if (text.length == 2) {
                        this.value = text + '/';
                    }
                    if (text.length == 5) {
                        this.value = text + '/';
                    }
                }

                return true;
            }
            e.preventDefault();
            return false;
        });
    });
</script>
<ejs-scripts></ejs-scripts>