
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

    //Loading CSS file
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Misc.SwiftPortalOverride/Content/customstyle.css}");
}

<div class="page registration-page">
    <div class="page-title">
        <h1>Welcome</h1>
    </div>
    <div class="page-body">
        Before you can make a purchase an account representative will review your account and make sure your account is setup just right for you 
        with your own dedicated sales representative that you can call upon any time. Don't worry you can still take shop through the store and once your account is setup you will
        be able to make purchases.
    </div>
    <br/>
    <br/>
    <div class="buttons">
        <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Homepage")'" value="Continue" />
    </div>
</div>