
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

    //Loading CSS file
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Misc.SwiftPortalOverride/Content/customstyle.css}");
}

<div class="page registration-page">
    <div class="page-title">
        <h1>Con</h1>
    </div>
    <div class="page-body">
        
           
    </div>
</div>