@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@using Nop.Services.Customers
@using NSS.Plugin.Misc.SwiftCore.Helpers;
@model RegisterModel
@{
    Layout = "";
    //Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/customstyle.css");

}
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}


<style>
    .text-left > input {
        width: 100% !important;
        font-style: italic !important;
        font-size: 14px;
        background: #f6f6f6 0% 0% no-repeat padding-box !important;
        opacity: 1;
        /*border: none;*/
        font: italic normal normal 14px/24px "Exo 2";
        letter-spacing: 0px;
        color: #aaaaaa;
        opacity: 1;
    }

    .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
        width: 67rem !important;
        margin: auto;
        position: relative !important;
        top: -100rem !important;
    }
</style>

<div class="page registration-page">
    <div class="page-title">
        <h1>REGISTER</h1>
    </div>

    <div class="page-body">
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">

                <div class="form-fields">
                    <div class="title">
                        <strong>PERSONAL INFORMATION</strong>
                    </div>
                    <div>
                        <div class="form-group row">
                            <div class="col-md-6 col-sm-12 col-xs-12 text-left mb-3">
                                <label asp-for="FirstName">First Name</label>
                                <nop-required />
                                <input asp-for="FirstName" class="form-control custom-input" />
                                <span asp-validation-for="FirstName" style="display:flex;"></span>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                                <label asp-for="LastName">Last Name</label>
                                <nop-required />
                                <input asp-for="LastName" class="form-control custom-input" />
                                <span asp-validation-for="LastName" style="display: flex;"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-6 col-sm-12 col-xs-12 text-left mb-3">
                                <label asp-for="Email">Work Email</label>
                                <nop-required />
                                <input asp-for="Email" class="form-control custom-input" />
                                <span asp-validation-for="Email" style="display:flex;"></span>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                                <label asp-for="ConfirmEmail">Confirm Email</label>
                                <nop-required />
                                <input asp-for="ConfirmEmail" class="form-control custom-input" />
                                <span asp-validation-for="ConfirmEmail" style="display:flex;"></span>
                            </div>
                        </div>



                        <div class="form-group row">


                            <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                                <label asp-for="CellPhone">Cell Phone</label>
                                <nop-required />
                                <input asp-for="CellPhone" class="form-control custom-input" />
                                <span asp-validation-for="CellPhone" style="display:flex;"></span>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 text-left mb-3">
                                <label asp-for="Phone">Work Phone</label>
                                <nop-required />
                                <input asp-for="Phone" class="form-control custom-input" />
                                <span asp-validation-for="Phone" style="display:flex;"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-md-6 col-sm-12 col-xs-12 text-left mb-3">
                                <label asp-for="Company">Company Name</label>
                                <nop-required />
                                <input asp-for="Company" class="form-control custom-input" />
                                <span asp-validation-for="Company" style="display:flex;"></span>
                                <ul class="option-list">
                                    <li>
                                        <input onclick="customerCheck()" id="is_current_customer" asp-for="IsCurrentCustomer" type="checkbox" />
                                        <label asp-for="IsCurrentCustomer" id="current_customer">I am a current customer</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12 text-left mb-3">
                                <ul class="option-list" id="user_roles" style="display:none">
                                    <li>
                                        <input asp-for="BuyerRole" type="checkbox" checked />
                                        <label asp-for="BuyerRole" id="buyer_role">Buyer</label>
                                    </li>
                                    <li>
                                        <input asp-for="OperationRole" type="checkbox" checked />
                                        <label asp-for="OperationRole" id="operations_role">Operations</label>
                                    </li>
                                    <li>
                                        <input asp-for="APRole" type="checkbox" checked />
                                        <label asp-for="APRole" id="ap_role">AP</label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @* Other Information Section *@
            <div class="fieldset">
                <div class="form-fields">
                    <div class="title">
                        <strong>OTHER INFORMATION</strong>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div style="margin-bottom: 2em">
                                <label>How did you hear about us?</label>
                                <nop-required />
                                <select asp-for="HearAboutUs" asp-items="Model.AvailablePlatforms" class="form-control custom-input" onchange="otherMethodCheck(this);"></select>
                                <span asp-validation-for="HearAboutUs"></span>
                            </div>

                            <div style="margin-bottom: 2em">
                                <div id="other-method" style="display:none">
                                    <label> Let us know how you found us</label>
                                    <nop-required />
                                    <input asp-for="Other" class="textbox form-control custom-input" />
                                    <span asp-validation-for="Other" style="display:flex;"></span>
                                </div>
                            </div>

                            <div>
                                <label>Preferred pickup location</label>
                                <nop-required />
                                <select asp-for="PreferredPickupLocationId" asp-items="Model.AvailablePickupLocations" class="form-control custom-input"></select>
                                <span asp-validation-for="PreferredPickupLocationId"></span>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div>
                                <label>How can we help?</label>
                                <nop-required />
                                <textarea asp-for="ItemsForNextProject" placeholder="What items are you considering for your next project?" class="form-control custom-input"></textarea>
                                <span asp-validation-for="ItemsForNextProject" style="display:flex;"></span>
                            </div>
                        </div>

                    </div>

                    <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                    </script>
                    <div class="accept-consent">
                        <label class=pure-material-checkbox>
                            <input id="accept-consent" type="checkbox" name="accept-consent" />
                            <span class="checkmark"></span>
                            <a class="read" id="read-privacyinfo">Accept Terms and Privacy Policy</a>
                            <script asp-location="Footer">
                            $(document).ready(function () {
                                $('#read-privacyinfo').on('click',
                                   function(e) {
	                            displayPopupContentFromUrl(
		                            '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
		                            '');
                            });
                            });
                            </script>
                        </label>
                    </div>

                    <div class="buttons">
                        <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                    </div>
                </div>

        </form>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
    </div>


</div>
<script>
    function otherMethodCheck(option) {
        let optionName = option.options[option.selectedIndex].text;
        if (optionName == "Other") {
            document.getElementById("other-method").style.display = "block";
        } else {
            document.getElementById("other-method").style.display = "none";
        }
    }

    function customerCheck(option) {
        var checked = document.getElementById("is_current_customer").checked;
        if (checked) {
            document.getElementById("user_roles").style.display = "block";
        } else {
            document.getElementById("user_roles").style.display = "none";
        }
    }
</script>