@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@model CustomerSelectAccountModel

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/homepageStyle.css");
}

<style>
    .header-menu {
        display: none !important;
    }
</style>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@


<div class="page account-select-page">
    <div class="page-title">
        <h1>SELECT ACCOUNT</h1>
    </div>
    <div class="page-body">
        <div class="account-block">
            @if (Model.Companies != null)
            {
                foreach (var company in Model.Companies)
                {
                    <button onclick="SelectCompany(@company.ErpCompanyId);" class="btn account-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24">
                            <defs>
                                <style>
                                    .a {
                                        fill: none;
                                    }

                                    .b {
                                        fill: #03175b;
                                    }
                                </style>
                            </defs>
                            <path class="a" d="M0,0H24V24H0Z" />
                            <path class="b"
                                  d="M20,4H4V6H20Zm1,10V12L20,7H4L3,12v2H4v6H14V14h4v6h2V14Zm-9,4H6V14h6Z" />
                        </svg>
                        @company.Name
                    </button>
                }
            }
        </div>
    </div>
</div>

<script type='text/javascript'>
    function SelectCompany(ErpId) {
        let cookieKey = `ERPCompanyId${@{@Model.loggedInCustomerId}}=`
        document.cookie = cookieKey + ErpId;
        location.href = "@Url.Action("Index")"
    }
</script>