@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@model CatalogModel
@using Nop.Core.Domain.Orders
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;

    var headerColumns = new List<NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute>();
}

<div id="_prtialview" table-responsive style="height: 30rem; overflow-y: auto;">
    @if (Model.Products != null && Model.Products.Count > 0)
    {

        <table class="table table-bordered catalog-table table-striped" id="catalogTable" onload="sortTable(0)">
            <thead>
                <tr>
                    @{headerColumns = Model.Products.FirstOrDefault().Shape.Atttributes.ToList();}

                    @foreach (var it in headerColumns)
                    {
                        <th class="sortable" scope="col" onclick="sortTable(0)">@it.DisplayName</th>
                    }

                    <th class="sortable" scope="col" onclick="sortTable(6)">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    addtocartlink = Url.Action("CustomAddProductToCart_Catalog", "CartOverride", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
                    var addtowishlistlink = Url.Action("CustomAddProductToCart_Catalog", "CartOverride", new { productId = item.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });

                    <tr>
                        @foreach (var it in headerColumns)
                        {
                            <td>@item.ProductCustomAttributes.FirstOrDefault(x => x.Key == @it.Code)?.Value</td>
                        }
                        <td>
                            <input style="width: 60px" type="number" name="quantity" id="">
                        </td>
                        <td style="text-align:left">
                            @{
                                var mtr = item.ProductCustomAttributes.FirstOrDefault(x => x.Key == "mtr")?.Value;
                            }
                            @if (!string.IsNullOrEmpty(mtr))
                            {
                                <a class="table-action-button" style="text-decoration:none" href="@mtr" target="_blank">
                                    <img src="Themes/SwiftPortal/Content/assets/invoice.svg" width="20" height="20" alt="">
                                </a>
                            }
                            @if (item.Shape.SawOption)
                            {
                                <button class="table-action-button">
                                    <img src="Themes/SwiftPortal/Content/assets/saw-blade.svg" width="20" height="20" alt="">
                                </button>
                            }
                            <button class="table-action-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                                <img src="Themes/SwiftPortal/Content/assets/shopping-cart.svg" width="20" height="20" alt="">
                            </button>
                            <button class="table-action-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                                <img src="Themes/SwiftPortal/Content/assets/heart.svg" width="20" height="20" alt="">
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }


</div>