

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/cart.css");
}


<div class="page home-page">
    <div class="page-body">
        <h1 style="text-align: center;margin: 20px 0;">SHOPPING CART</h1>
        <hr style="height: 2px;color: #000;opacity: 0.5;" />
        <div style="display: flex; margin-bottom: 20px; justify-content: space-between;" class="col-lg-5">
            <div class="filter-menu">
                <label for="purchase-order">Purchase Order #</label>
                <input type="text" name="purchase-order" id="purchase-order" placeholder="ENTER...">
            </div>
            <div class="filter-menu">
                <label for="required-date">Required Delivery Date</label>
                <input type="text" name="required-date" id="required-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="-Select-">
            </div>
            <div class="filter-menu">
                <label for="estimated-date">Estimated Delivery Date</label>
                <input type="text" name="estimated-date" id="estimated-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="-Select-">
            </div>
        </div>
        <table class="table table-bordered cart-table">
            <thead>
                <tr>
                    <th scope="col">Item #</th>
                    <th scope="col">Description</th>
                    <th scope="col">Customer Part #</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Total Weight</th>
                    <th scope="col">Order Qty</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123456779-10-1</td>
                    <td>1 Beam Hot Roll A36 3 x 5.7 x 20</td>
                    <td>
                        <input style="width: 100px;height: 30px;" type="text" name="customer-part" id="">
                    </td>
                    <td>
                        <input style="width: 100px;height: 30px;" type="text" name="unit-price" id="">
                        <select name="" id="" style="height: 30px;">
                            <option value="">CW</option>
                            <option value="">BW</option>
                            <option value="">AW</option>
                        </select>
                    </td>
                    <td>$78.83</td>
                    <td>144.00</td>
                    <td>
                        <input style="width: 100px" type="number" name="quantity" id="">
                    </td>
                    <td style="text-align:center">
                        <button style="background: none; border: none;">
                            <img src="note-add.svg" width="20" height="20" alt="">
                        </button>
                    </td>
                    <td style="text-align:center">
                        <input type="checkbox" name="" id="">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-actions col-lg-5 offset-7">
            <button class="no-backgroud-button"><img src="reload.svg" alt=""> Update Cart</button>
            <button class="no-backgroud-button"><img src="return.svg" alt="">Continue Shopping</button>
            <button class="no-backgroud-button"><img src="calculator.svg" alt="">Estimate Shipping</button>
        </div>
        <div class="detail-container">
            <div class="left-detail">
                <div class="discount">
                    <label for="discount">DISCOUNT CODE</label>
                    <div style="display: flex;">
                        <input type="text" name="discount" id="" placeholder="Enter code here...">
                        <button>APPLY</button>
                    </div>
                </div>
                <div class="pickup-options">
                    <div>
                        <input type="radio" id="customer" name="ship" value="customer">
                        <label for="customer">Ship to Customer</label>
                    </div>
                    <div>
                        <input type="radio" id="pickup" name="ship" value="pickup">
                        <label for="pickup">Pickup from North Shore Steel</label>
                    </div>
                </div>
            </div>
            <div class="right-detail">
                <div class="cart-summary">
                    <div class="price-summary">
                        <p class="title">Sub-Total</p>
                        <p class="amount">78.33</p>
                    </div>
                    <div class="price-summary">
                        <p class="title">Shipping</p>
                        <p class="amount">TBD</p>
                    </div>
                    <div class="price-summary">
                        <p class="title">Discount</p>
                        <p class="amount">0.00</p>
                    </div>
                    <div class="price-summary">
                        <p class="title">Tax</p>
                        <p class="amount">12.00</p>
                    </div>
                    <div class="price-summary">
                        <p class="total">Tax</p>
                        <p class="total">12.00</p>
                    </div>
                </div>
                <div class="agree-terms">
                    <input type="checkbox" name="agree-terms" id="agree-terms">
                    <label for="agree-terms">I agree with the terms of service</label>
                    <a href="">(read terms)</a>
                </div>
            </div>
        </div>
        <div class="check-out">
            <button>CHECKOUT</button>
        </div>
    </div>
</div>