@using Nop.Services.Customers
@using Nop.Core
@using Nop.Core.Infrastructure
@{
    // check if user is guest
    var customer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
    var isGuestCustomer = EngineContext.Current.Resolve<ICustomerService>().IsGuest(customer);
}

@if (!isGuestCustomer)
{
    <div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-between bg-blue px-0 px-xl-5">
        <div class="header-logo order-0 px-3 px-xl-5 py-3 py-lg-4">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="header-links-wrapper d-flex flex-row order-2 order-md-3 align-items-center px-3 px-lg-5 py-2">
            @await Component.InvokeAsync("CustomHeaderLinks")
        </div>
        <div id="custom-search-box-container" class="d-flex flex-row flex-grow-1 order-3 order-md-2 align-items-center justify-content-center bg-primary bg-md-transparent py-2">
            <div class="nav-bar-search">
                @await Component.InvokeAsync("CustomSearchBox")
            </div>
        </div>
    </div>
}
else
{
    <div class="header-upper nss-nav-bar" style="background-color: transparent!important; border-bottom: none!important;padding-top:4rem;">
        <div class="master-wrapper-content align-items-center">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
    </div>
}
