@using Nop.Services.Customers
@using Nop.Core
@using Nop.Core.Infrastructure
@{
    // check if user is guest
    var customer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
    var isGuestCustomer = EngineContext.Current.Resolve<ICustomerService>().IsGuest(customer);
}

@if (!isGuestCustomer)
{
    <div class="d-none d-md-block">
        <div class="header-upper nss-nav-bar">
            <div class="master-wrapper-content nav-bar-content d-flex flex-row align-items-center">
                <div class="header-logo">
                    @await Component.InvokeAsync("Logo")
                </div>
                <div class="nav-bar-search">
                    @await Component.InvokeAsync("CustomSearchBox")
                </div>
                @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })*@
                @*<div class="header-selectors-wrapper">
                    @await Component.InvokeAsync("TaxTypeSelector")
                    @await Component.InvokeAsync("CurrencySelector")
                    @await Component.InvokeAsync("LanguageSelector")
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                </div>*@
                <div class="header-links-wrapper">
                    @await Component.InvokeAsync("CustomHeaderLinks")
                    @await Component.InvokeAsync("FlyoutShoppingCart")
                </div>
            </div>
        </div>
    </div>
    <div class="d-md-none">
        <div class="d-flex flex-row justify-content-between bg-blue">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("CustomHeaderLinks")
            </div>
        </div>
    </div>
}
else
{
    <div class="header-upper nss-nav-bar" style="background-color: transparent!important; border-bottom: none!important;padding-top:54px;">
        <div class="master-wrapper-content align-items-center">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
    </div>
}
