@using Nop.Core
@using Nop.Web.Models.Customer
@using NSS.Plugin.Misc.SwiftCore.Helpers
@using NSS.Plugin.Misc.SwiftPortalOverride
@using NSS.Plugin.Misc.SwiftCore.Services
@inject IWorkContext workContext
@inject ICustomerCompanyService customerCompanyService
@model CustomerAddressEditModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}

@{
    var compIdCookieKey = string.Format(SwiftPortalOverrideDefaults.ERPCompanyCookieKey, workContext.CurrentCustomer.Id);
    int eRPCompanyId = Common.GetSavedERPCompanyIdFromCookies(Context.Request.Cookies[compIdCookieKey]);
    bool isBuyer = customerCompanyService.Authorize(workContext.CurrentCustomer.Id, eRPCompanyId, ERPRole.Buyer);
}

@section left
{
    @await Component.InvokeAsync("CustomCustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses, isABuyer = isBuyer })
}
<form asp-route="CustomerAddressEdit" method="post">
    <div class="page account-page">
        <div class="page-body">
            <div class="account-page-card address-edit-page">
                <div class="title"><strong>ADDRESS DETAILS</strong></div>
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                @{
                    var dataDictAddress = new ViewDataDictionary(ViewData);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                    @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                }
                <div class="buttons">
                    <input type="submit" class="cancel-button" style="background-color: transparent !important;" value="Cancel" />
                    <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />
                </div>
            </div>
        </div>
    </div>
</form>