@using Nop.Core
@using Nop.Web.Models.Customer
@using NSS.Plugin.Misc.SwiftCore.Helpers
@using NSS.Plugin.Misc.SwiftPortalOverride
@using NSS.Plugin.Misc.SwiftCore.Services
@using Nop.Services.Common
@inject IWorkContext workContext
@inject ICustomerCompanyService customerCompanyService
@inject IGenericAttributeService genericAttributeService
@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}

@{
    var compIdCookieKey = string.Format(SwiftPortalOverrideDefaults.ERPCompanyCookieKey, workContext.CurrentCustomer.Id);
    int eRPCompanyId = Convert.ToInt32(genericAttributeService.GetAttribute<string>(workContext.CurrentCustomer, compIdCookieKey));
    bool isBuyer = customerCompanyService.Authorize(workContext.CurrentCustomer.Id, eRPCompanyId, ERPRole.Buyer);
    bool isOperations = customerCompanyService.Authorize(workContext.CurrentCustomer.Id, eRPCompanyId, ERPRole.Operations);
}

@section left
{
    @await Component.InvokeAsync("CustomCustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword, isABuyer = isBuyer, isOperations = isOperations })
}
<style>
    .grey-bg {
        background-color: #f6f6f6 !important;
        padding: 20px;
    }

    .color-white {
        color: #ffffff !important;
    }
</style>
<div class="page account-page customer-info-page" id="customer-change-password">
    <div class="page-body">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
            <div class="account-page-card" v-bind:class="{'text-left': isMobile,'grey-bg':isMobile}">
                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="result text-center nss-dark" style="font-size:16px">
                        @Model.Result
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="message-error" style="font-size:16px"></div>
                <div class="title" v-bind:class="{'justify-content-center': isMobile}"><strong>CHANGE PASSWORD</strong></div>
                <div class="form-fields" style="grid-template-columns: none;">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="OldPassword"></label>
                            <nop-required />
                            <input asp-for="OldPassword" placeholder="Enter old password" class="form-control custom-input" />
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NewPassword"></label>
                            <nop-required />
                            <input asp-for="NewPassword" placeholder="Enter new password" class="form-control custom-input" />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="ConfirmNewPassword"></label>
                            <nop-required />
                            <input asp-for="ConfirmNewPassword" placeholder="Confirm new password" class="form-control custom-input" />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons save-customer-info-button" v-bind:class="{'justify-content-center': isMobile}">
                    <input type=submit v-bind:class="{'bg-primary': isMobile,'color-white': isMobile}"
                           id=save-info-button value='Change Password' name=save-info-button
                           class="button-2 change-password-button">
                </div>
            </div>
            <div style="height: 200px;"></div>
        </form>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#customer-change-password',
        data: {
            window: {
                width: 0,
                height: 0,
            },
        },
        created: function () {
            window.addEventListener("resize", this.handleResize);
            this.handleResize();
        },
        destroyed: function () {
            window.removeEventListener("resize", this.handleResize);
        },
        computed: {
            isMobile: function () {
                return this.window.width <= 767.98;
            },
        },
        methods: {
            handleResize: function () {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
        },
    });
</script>