
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Confirmation");
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

}

<style>
    .header-menu {
        display: none !important;
    }

    .header-upper {
        background-color: transparent !important;
        border-bottom: none !important;
    }

    .nav-bar-search {
        display: none !important;
    }

    .header-links-wrapper {
        display: none !important;
    }

    .master-wrapper-content {
        display: block !important;
    }
</style>

<div class="page registration-result-page">
    <div class=page-title>
        <h1>WELCOME!</h1>
    </div>
    <div class="page-body">
        <div class="fieldset welcome-fieldset">
            <p class="text">
                Thanks for registering! We'll need to finish setting up your account
                on our end before you're able to make purchases. Don't worry it won't take long
                and you can shop around until then! Welcome to SWIFT&#8482;!
            </p>
            <div class=buttons>
                @*<input type=submit name=send-email class="button-1 password-recovery-button" value="Continue">*@
                <input type="button" class="button-1 password-recovery-button" onclick="location.href='@Url.RouteUrl("Homepage")'" value="Continue" />
            </div>
        </div>
    </div>
    <br />
    <br />
    @*<div class="buttons">
        <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Homepage")'" value="Continue" />
    </div>*@
</div>