@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
@inject IThemeContext themeContext
@using Nop.Web.Framework.Themes
@inject Nop.Core.IWebHelper webHelper

@{
    var themeName = themeContext.WorkingThemeName;
    var routeUrl = webHelper.GetRawUrl(Context.Request);
}
@if (routeUrl.Contains("login") || routeUrl.Contains("register") || routeUrl.Contains("passwordrecovery"))
{
    <div class="linda-block" id="banner-block">
        <img v-if="!isMobile" src="~/Themes/@(themeName)/Content/assets/linda-experience-banner.png" />
        <img v-if="isMobile" src="~/Themes/@(themeName)/Content/assets/img-linda-experience-banner-mobile.png" />
    </div>
}
@if (routeUrl.Contains("/catalog"))
{
    <div id="banner-block" v-bind:class="{'px-5': !isMobile}" style="margin-top: 10px; margin-bottom: 58px;">
        <img v-if="!isMobile"  src="~/Themes/@(themeName)/Content/assets/discounts-feature.PNG" alt="" width="100%">
        <img v-if="isMobile"  src="~/Themes/@(themeName)/Content/assets/bg-discount-mobile.png" alt="" width="100%" style="margin-top: 50px;">
    </div>
}
@if (routeUrl.Contains("/cart"))
{
    <div id="banner-block" v-bind:class="{'px-5': !isMobile}" style="margin-top: 10px; margin-bottom: 77px;">
        <img v-if="!isMobile" src="~/Themes/@(themeName)/Content/assets/discounts-feature.PNG" alt="" width="100%">
        <img v-if="isMobile" src="~/Themes/@(themeName)/Content/assets/bg-discount-mobile.png" alt="" width="100%" style="margin-top: 50px;">
    </div>
}
@if (!routeUrl.Contains("login"))
{
    <div class="footer">
        <div class="nss-container d-flex justify-content-between footer-main">
            <div class="footer-content products">
                <ul class="list">
                    <div class="title"><strong>PRODUCTS</strong></div>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/structural-steel/">STRUCTURAL STEEL</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/fittings-flanges/">FITTINGS & FLANGES</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/metal-processes/">METAL PROCESSES</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/industries-served/">INDUSTRIES SERVED</a></li>
                </ul>
            </div>
            <div class="footer-content info">
                <ul class="list">
                    <div class="title"><strong>INFO</strong></div>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/resources/">RESOURCES</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/sister-companies/">SISTER COMPANIES</a></li>
                    <li class="d-flex align-items-center"><a href="https://swift.nssco.com/">SWIFT&#8482;</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/careers">CAREERS</a></li>
                    <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/why-north-shore-steel/">WHY NORTH SHORE STEEL?</a></li>
                </ul>
            </div>
            <div class="sales-dept footer-content">
                <div class="title"><strong>SALES DEPARTMENTS</strong></div>
                <ul class="list">
                    <li>Structural Steel </li>
                    <li>713-980-5872 </li>
                </ul>
                <ul class="list">
                    <li>Fittings & Flanges </li>
                    <li>713-980-5873 </li>
                </ul>
                <ul class="list">
                    <li>Plate Processing </li>
                    <li>713-980-5874 </li>
                </ul>
                <ul class="list">
                    <li>Beaumont </li>
                    <li>713-980-5875 </li>
                </ul>
            </div>
            <div class="footer-content footer-logo">
                <div>
                    <img src="~/Themes/@(themeName)/Content/assets/logo-old.png" alt="">
                    <p style="font-size:12px">1566 MILES ST. </p>
                    <p style="font-size:12px">HOUSTON, TX 77015</p>
                    <p style="font-size:12px"> 713-453-3533</p>
                </div>
            </div>
            <div class="follow-us footer-content">
                <div>
                    <div class="title"><strong>FOLLOW US</strong></div>
                    <ul class="networks">

                        <a href="https://www.facebook.com/NorthShoreSteel/" target="_blank">
                            <img src="~/Themes/@(themeName)/Content/assets/facebook.svg" alt="">
                        </a>
                        <a href="https://www.linkedin.com/company/north-shore-steel/" target="_blank">
                            <img src="~/Themes/@(themeName)/Content/assets/linkedin.svg"
                                 alt="">
                        </a>


                        <a href="https://www.youtube.com/channel/UCJ_fcBkyfnCJAUUZ1U6k18g" target="_blank">
                            <img src="~/Themes/@(themeName)/Content/assets/youtube.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/gonorthshoresteel/" target="_blank">
                            <img src="~/Themes/@(themeName)/Content/assets/instagram.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/gonorthshoresteel/" target="_blank">
                            <img src="~/Themes/@(themeName)/Content/assets/twitter.svg" alt="">
                        </a>
                    </ul>
                </div>
            </div>

        </div>

    </div>  }
@if (routeUrl.Contains("login"))
{<div class="login-footer">
     <div class="nss-container d-flex justify-content-between footer-main">
         <div class="footer-content products">
             <ul class="list">
                 <div class="title"><strong>PRODUCTS</strong></div>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/structural-steel/">STRUCTURAL STEEL</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/fittings-flanges/">FITTINGS & FLANGES</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/metal-processes/">METAL PROCESSES</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/industries-served/">INDUSTRIES SERVED</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
             </ul>
         </div>
         <div class="footer-content info">
             <ul class="list">
                 <div class="title"><strong>INFO</strong></div>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/resources/">RESOURCES</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/sister-companies/">SISTER COMPANIES</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="https://swift.nssco.com/">SWIFT&#8482;</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/careers">CAREERS</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
                 <li class="d-flex align-items-center"><a href="http://northshoresteel.topspotims.modxcloud.com/why-north-shore-steel/">WHY NORTH SHORE STEEL?</a><img src="~/Themes/@(themeName)/Content/assets/list.svg" class="mr-2 footer-list-icon" alt=""></li>
             </ul>
         </div>
         <div class="sales-dept footer-content">
             <div class="title"><strong>SALES DEPARTMENTS</strong></div>
             <ul class="list">
                 <li>Structural Steel </li>
                 <li>713-980-5872 </li>
             </ul>
             <ul class="list">
                 <li>Fittings & Flanges </li>
                 <li>713-980-5873 </li>
             </ul>
             <ul class="list">
                 <li>Plate Processing </li>
                 <li>713-980-5874 </li>
             </ul>
             <ul class="list">
                 <li>Beaumont </li>
                 <li>713-980-5875 </li>
             </ul>
         </div>
         <div class="footer-content footer-logo">
             <div>
                 <img src="~/Themes/@(themeName)/Content/assets/logo-old.png" alt="">
                 <p style="font-size:12px">1566 MILES ST. </p>
                 <p style="font-size:12px">HOUSTON, TX 77015</p>
                 <p style="font-size:12px"> 713-453-3533</p>
             </div>
         </div>
         <div class="follow-us footer-content">
             <div>
                 <div class="title"><strong>FOLLOW US</strong></div>
                 <ul class="networks">

                     <a href="https://www.facebook.com/NorthShoreSteel/" target="_blank">
                         <img src="~/Themes/@(themeName)/Content/assets/facebook.svg" alt="">
                     </a>
                     <a href="https://www.linkedin.com/company/north-shore-steel/" target="_blank">
                         <img src="~/Themes/@(themeName)/Content/assets/linkedin.svg"
                              alt="">
                     </a>


                     <a href="https://www.youtube.com/channel/UCJ_fcBkyfnCJAUUZ1U6k18g" target="_blank">
                         <img src="~/Themes/@(themeName)/Content/assets/youtube.svg" alt="">
                     </a>
                     <a href="https://www.instagram.com/gonorthshoresteel/" target="_blank">
                         <img src="~/Themes/@(themeName)/Content/assets/instagram.svg" alt="">
                     </a>
                     <a href="https://www.instagram.com/gonorthshoresteel/" target="_blank">
                         <img src="~/Themes/@(themeName)/Content/assets/twitter.svg" alt="">
                     </a>
                 </ul>
             </div>
         </div>

     </div>

    </div>  }
<div class="footer-disclaimer">NORTH SHORE STEEL © @DateTime.Today.Year ALL RIGHTS RESERVED</div>

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script>
    var vm = new Vue({
        el: '#banner-block',
        data: {
            window: {
                width: 0,
                height: 0,
            },
        },
        created: function () {
            window.addEventListener("resize", this.handleResize);
            this.handleResize();
        },
        destroyed: function () {
            window.removeEventListener("resize", this.handleResize);
        },
        computed: {
            isMobile: function () {
                console.log('this.window.width <= 767.98', this.window.width <= 767.98);
                return this.window.width <= 767.98;
            },
        },
        methods: {
            handleResize: function () {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
        },
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>
