@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyOrderListModel
@using Syncfusion.EJ2

<div>
    <ejs-grid id="OrderGrid" dataSource="@Model.Orders" allowPaging="true" allowFiltering="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="50" pageSizes="true"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="Order #" template="#orderNo" allowFiltering="false" minWidth="50" width="100" maxWidth="100"></e-grid-column>
            <e-grid-column field="PoNo" headerText="PO#" minWidth="60" width="100" allowFiltering="false"></e-grid-column>
            <e-grid-column field="Weight" headerText="Tot. Weight (lbs)" minWidth="120" width="140" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#orderTotal" headerText="Order Amount" minWidth="100" width="120" maxWidth="150" allowFiltering="false"></e-grid-column>
            <e-grid-column field="OrderDate" headerText="Order Date" minWidth="100" width="120" maxWidth="150" format="yMd" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PromiseDate" headerText="Promise Date" minWidth="120" width="140" maxWidth="150" format="yMd" allowFiltering="false"></e-grid-column>
            @if (Model.IsClosed)
            {
                <e-grid-column field="DeliveryDate" headerText="Delivery Date" minWidth="100" width="120" maxWidth="150" format="yMd" allowFiltering="false"></e-grid-column>
                <e-grid-column template="#viewTicket" headerText="Delivery Ticket" minWidth="100" width="120" maxWidth="150" allowFiltering="false"></e-grid-column>
            }
            else
            {
                <e-grid-column field="ScheduledDate" headerText="Scheduled Date" minWidth="120" width="140" maxWidth="150" format="yMd" allowFiltering="false"></e-grid-column>
                <e-grid-column field="OrderStatusName" headerText="Status" filter="@(new { type = "CheckBox" })" minWidth="70" width="100" maxWidth="100"></e-grid-column>
            }
            <e-grid-column type="checkbox" width="30"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="orderNo" type="text/x-template">
    <a href="/orders/${OrderId}">${OrderId}</a>
</script>
<script id="orderTotal" type="text/x-template">
    $${OrderTotal}
</script>
<script id="viewTicket" type="text/x-template">
    <a href="">View Ticket</a>
</script>
<ejs-scripts></ejs-scripts>