@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyOrderListModel
@using Syncfusion.EJ2

<div>
    <ejs-grid id="OrderGrid" dataSource="@Model.Orders" allowPaging="true" allowFiltering="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="10" pageSizes="true"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="Order #" template="#orderNo" width="60" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PoNo" headerText="PO#" width="60" allowFiltering="false"></e-grid-column>
            <e-grid-column field="Weight" headerText="Tot. Weight (lbs)" width="70" allowFiltering="false"></e-grid-column>
            <e-grid-column template="#orderTotal" headerText="Order Amount" width="80" allowFiltering="false"></e-grid-column>
            <e-grid-column field="OrderDate" headerText="Order Date" width="90" format="yMd" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PromiseDate" headerText="Promise Date" width="100" format="yMd" allowFiltering="false"></e-grid-column>
            @if (Model.IsClosed)
            {
                <e-grid-column field="DeliveryDate" headerText="Delivery Date" width="90" format="yMd" allowFiltering="false"></e-grid-column>
                <e-grid-column template="#viewTicket" headerText="Delivery Ticket" width="70" allowFiltering="false"></e-grid-column>
            }
            else
            {
                <e-grid-column field="ScheduledDate" headerText="Scheduled Date" width="100" format="yMd" allowFiltering="false"></e-grid-column>
                <e-grid-column field="OrderStatusName" headerText="Status" filter="@(new { type = "CheckBox" })" width="70"></e-grid-column>
            }
            <e-grid-column type="checkbox" width="30"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="orderNo" type="text/x-template">
    <a href="/orders/${Id}">${OrderId}</a>
</script>
<script id="orderTotal" type="text/x-template">
    $${OrderTotal}
</script>
<script id="viewTicket" type="text/x-template">
    <a href="">View Ticket</a>
</script>
<ejs-scripts></ejs-scripts>