@using NSS.Plugin.Misc.SwiftPortalOverride.Models

@model CompanyOrderListModel
@using Syncfusion.EJ2

<style>
    .e-headercell.e-lastcell, .e-rowcell.e-gridchkbox {
        padding-left: 0.6rem
    }
</style>
<div>
    <ejs-grid id="OrderGrid" dataSource="@Model.Orders" excelQueryCellInfo="excelQueryCellInfo" allowExcelExport="true" allowPaging="true" allowFiltering="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="100"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="Order #" template="#orderNo" minWidth="80" width="90" maxWidth="100" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PoNo" headerText="PO #" minWidth="60" width="70" maxWidth="80" allowFiltering="false"></e-grid-column>
            <e-grid-column field="Weight" headerText="Weight (lb)" minWidth="120" width="130" maxWidth="140" allowFiltering="false"></e-grid-column>
            <e-grid-column field="OrderTotal" headerText="Order Amount" minWidth="110" width="120" format="C2" maxWidth="130" allowFiltering="false"></e-grid-column>
            <e-grid-column field="OrderDate" headerText="Order Date" minWidth="110" width="120" maxWidth="130" format="M/d/yy" allowFiltering="false"></e-grid-column>
            <e-grid-column field="PromiseDate" headerText="Promise Date" minWidth="110" width="120" maxWidth="130" format="M/d/yy" allowFiltering="false"></e-grid-column>
            @if (Model.IsClosed)
            {
                <e-grid-column field="DeliveryDate" headerText="Delivery Date" minWidth="110" width="120" maxWidth="130" format="M/d/yy" allowFiltering="false"></e-grid-column>
                <e-grid-column template="#viewTicket" headerText="Delivery Ticket" minWidth="110" width="120" maxWidth="130" allowFiltering="false"></e-grid-column>
            }
            else
            {
                <e-grid-column field="ScheduledDate" headerText="Scheduled Date" minWidth="120" width="130" maxWidth="140" format="M/d/yy" allowFiltering="false"></e-grid-column>
                <e-grid-column field="OrderStatusName" headerText="Status" filter="@(new { type = "CheckBox" })" minWidth="110" width="120" maxWidth="130"></e-grid-column>
            }
            <e-grid-column type="checkbox" width="30"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script>
    function toolbarClick() {
        var gridObj = document.getElementById("OrderGrid").ej2_instances[0];
        //if (args.item.id === 'OrderGrid_excelexport') {
        var exceldata = gridObj.getSelectedRecords();
        var exportProperties = {
            dataSource: exceldata,
            fileName: "OrdersExport.xlsx"
        };
        console.log(exportProperties);
        gridObj.excelExport(exportProperties);
        //}
    }

    function excelQueryCellInfo(args) {
        if (args.column.headerText == "Order #" && args.value.length === 0) { args.value = args.data.OrderId; }
        if (args.column.headerText == "Order Amount" && args.value.length === 0) { args.value = args.data.OrderTotal; }
    }

</script>

<script id="orderNo" type="text/x-template">
    <a href="/orders/${OrderId}">${OrderId}</a>
</script>
<script id="viewTicket" type="text/x-template">
    <a href="">View Ticket</a>
</script>
<ejs-scripts></ejs-scripts>