
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}

<style>
    .success-text {
        text-align: center;
    }

    .text-primary {
        color: #03175B !important;
    }

    .page-title {
        border-bottom: 2px solid #03175B;
    }
</style>

<div class="page checkout-page order-completed-page px-5">
    <div class="page-title">
        <label class="h4 text-primary">REJECTED ORDER</label>
    </div>
    <div class="page-body checkout-data px-5 mx-5 pb-5">
        <div class="section order-completed fieldset py-5">
            <div class="title">
                <label class="h6 font-weight-bold text-primary">AN ERROR OCCURED</label>
            </div>
            <div class="text-center text-primary font-weight-bold">
                Something went wrong while placing the order.
                Please contact admin.
            </div>
        </div>
    </div>
</div>